#content {
    margin: 0 auto;
    max-width: 1600px;
    background-color: #C2C2C2;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #374A6D;
    border-bottom: #C2C2C2;
}


.logo {
    width: 200px;
    height: 200px;
    grid-column: 1/2;
}

.start_now {
    font-family: helvetica, Arial, sans-serif;
    padding: 30px;
    padding-left: 750px;
    border-radius: 25px;
    border-color: black;
    font-size: 25px;
}

main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.v-ball-img1 {
    padding: 80px;
    padding-left: 250px;
    grid-column: 2/3;
    grid-row: 1/2;
    height: 700px;
    width: 1100px;
}

#intro {
    font-family: Helvetica, Arial, sans-serif;
}

nav {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

nav a:hover {
    background-color: #374A6D;
    color: #358CFD;
    font-family: Helvetica, Arial, sans-serif;
}

#intro {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

footer {
    font-family: Helvetica, Arial, sans-serif;
    position: fixed;
    grid-template-columns: 1fr 1fr 1fr;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #374A6D;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}