body {
    margin: 0;
}

#content {
    margin: 0 auto;
    max-width: 1600px;
    background-color: #C2C2C2;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #374A6D;
    border-bottom: #C2C2C2;
}

header a {
    color: #C2C2C2;
}

.logo {
    width: 200px;
    height: 200px;
    grid-column: 1/2;
}

.start_now {
    font-family: helvetica, Arial, sans-serif;
    padding: 30px;
    padding-left: 800px;
    border-radius: 25px;
    border-color: black;
    font-size: 25px;
}

.index_main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.v-ball-img1 {
    padding: 80px;
    padding-left: 250px;
    grid-column: 2/3;
    grid-row: 1/2;
    height: 700px;
    width: 1100px;
}


nav {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

nav a:hover {
    background-color: #374A6D;
    color: #99E9FF;
    font-family: Helvetica, Arial, sans-serif;
}

#intro {
    /* display: flex; */
    text-align: center;
    /* justify-items: center; */
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

footer {
    font-family: Helvetica, Arial, sans-serif;
    position: fixed;
    grid-template-columns: 1fr 1fr 1fr;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #374A6D;
    color: #C2C2C2;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

footer a {
    color: #C2C2C2;
}

footer a:hover {
    color: #99E9FF;
}

/* start.css page*/

.photo_2 {
    display: flex;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1/2;
    padding-left: 250px;
    height: 700px;
    width: 1100px;
}

.beginner,
.advanced,
.intermediate,
.positions,
.techniques,
.rotations {
    border-radius: 100px;
    border-color: black;
    color: #358CFD;
    margin: 0;


}

.button-box a:hover,
.button-box_1 a:hover {
    color: #99E9FF;
}

.button-box {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    font-family: helvetica, Arial, sans-serif;
    color: #C2C2C2;
    padding: 30px;
    border-radius: 25px;
    border-color: black;
    margin: 0;
}

.beginner {
    grid-column: 1/2;
    grid-row: 1/2;
}

.button-box p {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

/* about_me */

#content_me {
    margin: 0 auto;
    max-width: 1600px;
    background-color: #C2C2C2;
}

.me_photo {
    padding: 80px;
    padding-left: 500px;
    grid-column: 2/3;
    grid-row: 1/2;
    height: 675px;
    width: 550px;

}

#about_me_p {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}